# Node modules and dependencies
node_modules/
bower_components/

# Editor and system files
.idea/
.vscode/
.DS_Store
*.log
*.bak

# Build output
dist/
*.tsbuildinfo

# Tests, coverage and reports
coverage/
.storybook/
*.test.*
*.spec.*
tests/
playwright-report/
test-results/
*.snap

# Docs or static exports (optional)
docs/
storybook-static/

# Old or backup package files
package copy.json
packageOLD1.json

# Misc
*.tgz
*.zip
